/* AddContentForm.css */

.add-content-form {
  width: 400px; /* Sabit genişlik */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.add-content-form h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
